.html,body{
   height: 100%;
   overflow: auto;
}

/* .home li{
display: flex;
gap: 20px;

   
}
.home img{
    width: 24px;
    height: 24px;
} */
 .search{
position: relative;
 }
 .pencarian{
   
   width: 80%;
    background-color: black;
    border: 1px solid;
    border-color: #696969;
    border-radius: 20px;
    padding-left :40px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    outline: none;
    color: white;
 }
 .search img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
 }
 .sampul{
   position: relative;
   width: 100%;
   height: 20%;
   background-color: #696969;
   
 }
 .profil{
   position: absolute;
   width: 100px;
   height: 100px;
   border: 5px solid black;
   border-radius: 50%;
   background-color: #3a6669;
   top: 60px;
   margin-left: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 60px;
   font-family: sans-serif;
   color: white;
 }
/* .tentangprofil{
   position: relative;
   width: 100%;
   height: 60%;
   background-color: rgb(82, 28, 28);
} */
.akun{
   position: relative;
   font-family: sans-serif;
   font-size: 20px;
   font-weight: bold;
   color: white;
   margin-left: 25px;
   top: 65px;
}
.namaprofil{
   position: relative;
   font-family: sans-serif;
   font-size: 15px;
   font-weight: normal;
   color: gray;
   margin-left: 23px;
   top: 45px; 
}
.tanggal img{
   position: relative;
   top: 10px;
   left: 25px;
   width: 14px;
   height: 14px;
}
.tanggal p{
   position: relative;
   top: 45px;
   margin-left: 44px;
   font-family: sans-serif;
   font-size: 15px;
   font-weight: normal;
   color: gray;

} 
.mengikuti{
   font-size: 13px;
   margin-left: 24px;
   top: 18px;

}
.putih{
   color: white;
   font-weight: bold;
}
.abuabu{
   color: gray;
}
.pengikut{
   position: relative;
   font-size: 13px;
   margin-left: 130px;
   bottom: 28px;
}
.white{
   color: white;
   font-weight: bold;
}
.grey{
   color: gray;
}
.edit{
   border-radius: 6px;
}


.btn{
   background: black;
   width: 100px;
   height: 25px;
   position: absolute;
   top: 120px;
   left: 85%;
   padding: 5px;
   border: white;
   border-radius: 15px;
   border: 6px;
   color: white;

}

.button1{
   
   position: absolute;
   right: 20px;
   top: 60%

}
.tombol{
  
   display: flex;
   list-style-type: none;
   flex-direction: row;
   column-gap: 30px;
   
 
}
.button1 .btnn{
   background: none;
   border: none;
   color: grey;
   width: 100px;
   height: 25px;
   padding: 5px;
   font-weight: normal;
   font-size: 17px;

}
.button1 .whites{
   background: none;
   border: none;
   color: white;
   width: 100px;
   height: 25px;
   padding: 5px;
   font-weight: normal;
   font-size: 17px;
}
.garis{
   position: absolute;
   top: 70%;
   height: 0.5rch;
   background-color: grey;
   width: 100%;

}
.garisbiru{
   position: absolute;
   left: 19px;
   top: 69%;
   height: 5px;
   background-color: #1DA1F2;
   width: 7%;
   border-radius: 2px;
}

.makepost{
   position: relative;
   top: 35px;
   left: 5px;
 
}
.foto{
   position: absolute;
   width: 50px;
   height: 50px;
   border-radius: 40px;
   background-color: #3a6669;
   top: 45%;
   left: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   color: white;
   transform: translateY(-50%);
}

.status{
   width: 88%;
   height: 70px;
   background-color:black ;
   border: beige;
   padding-left: 80px;
   padding-right: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   color: white;
   font-size: 20px;
   outline: none;
}

.line{
   position: absolute;
   width: 100%;
   height: 0.5px;
   color: white;
   top: 95%;
}

.aksi{
   position: absolute;
   bottom: 5px;
}
.aksi ul{
   display: flex;
   list-style-type: none;
   flex-direction: row;
   column-gap: 20px;
}
.aksi img{
   width: 20px;
   height: 20px;
}
.btnpost{
   position: absolute;
   width: 80px;
   height: 40px;
   top: 80%;
   left: 85%;
   background-color: grey;
   color: black;
   font-size: 16px;
   padding: 5px;
   align-items: center;
   justify-items: center;
   border-radius: 20px;
   font-weight: bold;
   border: #888;
   

}

.postingan{
   position: absolute;
   width: 50px;
   height: 50px;
   border-radius: 40px;
   background-color: #3a6669;
   top: 100%;
   left: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   color: white;
   
}
.post{
   position: absolute;
   top: 99%;
   left: 80px;
   font-size: 15px
    
}
.pemosting{
   color: gray;
  
}
.pemosting .sp{
   color: white;
     
}
.caption{
   position: absolute;
   top: 105%;
   left: 80px;
   font-size: 15px;
   color: white;
}
.feed{
   position: absolute;
   top: 115%;
   left: 80px;
   width: 300px;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   
   
}
.feed img{
   width: 300px;
   height: 300px;
   border-radius: 10px;
   object-fit: cover;
}
.react{
   position: absolute;
   top: 180%;
   left: 45px;

}
.react .reaksi{
   display: flex;
   list-style-type: null;
   flex-direction: row;
   column-gap: 120px;


}
.react img{
width: 20px;
height: 20px;
}
 .share{
   position: absolute;
   top: 184%;
   right: 63px;
}
.garisbawah{
   position: absolute;
   top: 188%;
   height: 0.5px;
   width: 100%;
   color: gray;
}
.kotakrekom{
   position: absolute;
   left: 10px;
   top: 12%;
   width: 90%;
   height: 60%;
   border-radius: 10px;
   background-color: black;
   border: 1px solid gray;
   
}
.teks{
   position: absolute;
   top: 2px;
   left: 10px;
   font-size: 20px;
   color: white;
   font-weight: bold;

}
.profil1{
   position: absolute;
   top: 50px;
   right:250px;
   
}
.profil1 .people{
   display: flex;
   list-style-type: none;
   flex-direction: column;
   row-gap: 30px;
   padding: none;
}
.profil1 img{
   width: 40px;
   height: 40px;
   border-radius: 25px;
}
.profil2{
   position: absolute;
   top: 32px;
   right: 110px;
}
.profil2 .usn{
   display: flex;
   list-style-type: none;
   flex-direction: column;
   row-gap: 30px;
}
.profil2 p{
   font-size: 15px;
   font-weight: bold;
   color: white;
}
.profil3 {
   position: absolute;
   top: 53px;
   left: 15px;
}
.profil3 .id{
   display: flex;
   list-style-type: none;
   flex-direction: column;
   row-gap: 34px;
}
.profil3 p{
   font-size: 14px;
   font-weight: normal;
   color: grey;
}
.profil4{
   position: absolute;
   bottom: 120%;
   left: 200px;
}
.profil4 .btn{
   display: flex;
   list-style-type: none;
   flex-direction: column;
   row-gap: 46px;
}
.profil4 button{
   height: 30px;
   width: 70px;
   border-radius: 15px;
   background-color: white;
   font-weight: bold;
   
}
.show{
   position: absolute;
   background-color: black;
   color: #1DA1F2;
   border: none;
   top: 90%;
   font-size: 16px;
   left: 10px;
}
.kotaktrend{
   position: absolute;
   top: 80%;
   width: 90%;
   height: 65%;
   border-radius: 10px;
   border: 1px solid grey;
   background-color: black;
}
.kotaktrend .teks{
   position: absolute;
   font-weight: bold;
   color: white;
   

}
.hastag{
   position: absolute;
   top: 40px ;
  
}
.hastag ul{
   display: flex;
   list-style-type: none;
   flex-direction: column;
   row-gap: 20px;
}
.hastag p{
   font-size: 14px;
   color: grey;
}
.ikonmore{
   position: absolute;
   top:53px ;
   left: 210px;

}
.ikonmore ul{
   display: flex;
   list-style-type: none;
   flex-direction: column;
   row-gap: 80px;
}
.ikonmore img{
   width: 20px;
   height: 20px;
}
.more2{
   position: absolute;
   background: none;
   
   color: #1DA1F2;
   border: none;
   top: 90%;
   font-size: 16px;
   left: 10px;

}
